@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
}

body{
    background: #296662;
}

.container{
    width: 100%;
    min-width: 100vh;
}

.sidebar{
    position: relative;
    width: 256px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(37,58,63,0.95);
    padding: 24px;
    border-radius: 30px 0 0 30px;
    background-image: url(assets/EFEITO\ FOSCO.png);
    margin-left: 250px;
    margin-top: 80px;
    transition: all 0.3s;
    box-shadow: -15px 15px 5px rgba(0,0,0,0.5);
}

.sidebar .head{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(37,58,63,0.75);
}

.user-img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.user-img img{
    width: 100%;
    object-fit: cover;
}

.user-details .titulo,
.menu .titulo{
    font-size: 10px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.user-details .nome{
    font-size: 14px;
    font-weight: 500;
}

.nav{
   flex:1; 
}

.menu ul li{
    position: relative;
    list-style: none;
    margin-bottom: 5px;
}

.menu ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}

.menu ul li > a:hover,
.menu ul li.active > a{
    color: black;
    background: #BBBABA;
}

.menu ul li .icone{
    font-size: 20px;
}

.menu ul li .texto{
 flex: 1;
}

.menu ul li .arrow{
    font-size: 14px;
    transition: all 0.3s;
}

.menu ul li.active .arrow{
    transform: rotate(180deg);
}

.menu .sub-menu{
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #808080;
}

.menu .sub-menu li a{
    padding: 10px 8px;
    font-size: 12px;
}

.menu:not(:last-child){
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom:  2px solid rgba(37,58,63,0.75);
}

.menu-btn{
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    border: 2px solid rgba(37,58,63,0.75);
    background: rgba(37,58,63,0.75);
}

.menu-btn:hover i{
    color: #BBBABA;
}

.menu-btn i{
    transition: all 0.3s;
}

.sidebar.active{
    width: 92px;
}

.sidebar.active .menu-btn i{
    transform: rotate(180deg);
}

.sidebar.active .user-details{
    display: none;
}

.sidebar.active .menu .titulo{
    text-align: center;
}

.sidebar.active .menu ul li .arrow{
    display: none;
}

.sidebar.active .menu > ul > li > a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.active .menu > ul > li > a .texto{
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    background: rgba(37,58,63,0.75);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.sidebar.active .menu > ul > li > a .texto::after{
    content: "";
    position: absolute;
    left: -5px;
    top: 28%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: rgba(37,58,63,0.75);
    transform: rotate(45deg);
    z-index: -1;
}

.sidebar.active .menu > ul > li > a:hover .texto{
    left: 50px;
    opacity: 1;
    visibility: visible;
}

.sidebar.active .menu .sub-menu{
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid rgba(37,58,63,0.75);
    background: rgba(37,58,63,0.75);
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.consulta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.consultar-fornecedor{
  width: 900px;
  height: 75vh;
  background: rgba(230, 218, 206, 0.15);
  background-image: url(assets/EFEITO\ FOSCOo.png);
  border-radius: 0 30px 30px 0;
  margin: -537px 0 0 320px;
  border: 1px solid rgba(230,218,206,0.15);
  box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.4);
}

.consultar-fornecedor h1{
    color: white;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    
}

#marca,
#telefone,
#vendedor,
#cnpj{
    width: 390px;
    height: 55px;
    border-radius: 65px;
    background: linear-gradient(to bottom,#E6DACE,#FFFFFF);
    margin: 20px 0 0 265px;
    font-weight: 600;
    font-size: 15px;
    padding-left: 5px;
    border: none;
    color: black;
}

#consultar{
    width: 180px;
    height: 50px;
    background: linear-gradient(to bottom,#E6DACE,#FFFFFF);
    border: none;
    border-radius: 65px;
    font-weight: 800;
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 30px 0 0 360px;
    padding-top: 4px;
    cursor: pointer;
}

